
#slidesshow_startseite
{
	position: relative;
	height: 295px;
	margin-bottom: 25px;
}
#slidesshow_startseite .slides_container
{
	padding: 0px;
	width:	1000px;
	height: 295px;
}
#slidesshow_startseite .next, #slidesshow_startseite .prev
{
	position: absolute;
	top:		138px;
	z-index: 314159265358979;
	font-size: 42px;
	text-decoration: none;
	color: #585858;
	display: none;
	text-shadow: 0px 0px 20px #fff;

}
#slidesshow_startseite .next
{
	right:10px;
}
#slidesshow_startseite .prev
{
	left:10px;
}
#slidesshow_startseite .pagination
{
	position: absolute;
	z-index: 314159265358979;
	bottom: 10px;
	right: 10px;
	margin: 0px;
	padding: 0px;
}
#slidesshow_startseite .pagination li
{
	list-style-type: none;
	list-style-image: none;
	float: 			left;
}
#slidesshow_startseite .pagination li a
{
	display: block;
	width: 12px;
	height: 12px;
	overflow: hidden;
	background-color: #585858;
	color: #585858;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 	1px 1px 10px #333; 
	-moz-box-shadow: 		1px 1px 10px #333; 
	box-shadow: 			1px 1px 10px #333;
	margin-left: 5px;
	border: 1px solid #ddd;
}
#slidesshow_startseite .pagination li.current a
{
	background-color: #9EC327;
	color: #9EC327;
}